doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    // Add your stylesheet link here
    link(rel='stylesheet', href='/path/to/your/css')

  body
    header
      // Your header content here

    block content
      // This is where the content of your other Pug files will be injected

    footer
      // Your footer content here

    // Add your scripts here
    script(src='/path/to/your/javascript.js')
